body {
    background-color: #cccccc;
}

.text {
    color: black;
    font-size: 20px;
}

button {
    width: 75px;
    height: 32px;
}

.calculator {
   border: solid 1px black;
   width: 290px;
   height: 420px;
   text-align: center;
}

.cbutton {
   width: 58px;
   height: 65px;
   border: 1px solid black;
   padding: 5px;
   margin: 5px;
   background-color: silver;
}

input[type="button"] {
   border: solid 1px black; 
}

input[type="text"] { 
   background-color:silver;
   border: solid black 2px; 
   width: 194px;
   height: 59px;
} 

.caltext {
   margin-top: 4px;
}

.title {
   color: green;
}

.button1 {
   width: 70px;
   height: 30px;
   background-color: green;
}

.button2 {
   width: 70px;
   height: 30px;
   background-color: red;
}

.col {
   width: 189px;
}

.randomTable {
   border: solid 1px black;
}

table {
   border-collapse: collapse;
}

table td {
   height: 50px;
}