.tl-table{
    border: solid 1px black;
    border-collapse: collapse;
    width: 250px;
    text-align: center;
    background: #cccccc;
}

.tl-table td{
    border: solid 1px black;
}

.clr{
    background-color: #009900;
}

.div1{
    width: 584px;
    height: 200px;
    border: solid 2px #a1d0a1;
    margin-bottom: 10px;
    padding: 8px;
}

.div2{
    width: 250px;
    height: 44.5px;
    background: #9acd32;
    padding: 8px;
    border: solid 2px #ffa500;
}

.div3{
    width: 584px;
    height: 122px;
    border: solid 2px #a1d0a1;
    padding: 8px;
}

.button{
    margin-bottom: 4px;
}

.inp{
    margin-bottom: 2px;
}

.bg{
    background: red;
}
