table {
    border: solid 1px black;
    width: 700px;
    height: 400px;
    border-collapse: collapse;
}

table td {
    border: solid 1px black;
    text-align: center;
    width: 175px; 
    /* td-ში სიგანის მინიჭებით ვიღებთ ერთი და იმავე ზომის უჯრებს. */
}

table td img {
    height: 100px;
    width: 100px;
    /* ფოტოებს მივანიჭე ერთი და იგივე ზომები */
}
