.task1{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}


.st-table{
    border: solid 1px black;
    width: 200px;
    height: 150px;
 }

.st-table td{
    border: solid 1px black;
    padding: 10px; 
}

.table5{
    width: 300px;
    height: 200px;
    background-color: red;
    border-width: 5px;
}

td{
    text-align: center;
}
