.inputs{
    width: 50%;
    min-height: 30px;
    border: solid 1px green;
    margin: auto;
    background: beige;
    padding: 20px;
}

.testDiv{
    background: brown;
    height: 50px;
    margin: 10px;
}

.div0{
    min-height: 100px;
    background: yellowgreen;
}

.div1{
    min-height: 100px;
    background: cadetblue;
}

.div2{
    min-height: 100px;
    background: aqua;
}