.st-table{
   border: solid 1px black;
   width: 200px;
   height: 150px;
}

.st-table td{
    border: solid 1px black;
    padding: 10px; 
}

.task-1{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}