div {
    width: 400px;
    min-height: 50px;
    border: solid 1px black;
    margin: 10px auto;  
    /* ყველა დავაშორეთ ერთმანეთისგან 10 პიქსელით. */
    padding: 5px; 
    /* რომ კიდეებთან ახლოს არ იყოს. */
}

.p1 {
    height: 10px;
    background-color: slateblue;
}