body{
    background-color: #cccccc;
    margin-left: 155px;
}

.colors{
    color: #ff0000;
    text-shadow: 1px 1px 1px yellow;
    background-color: white;
    width: 630px;
    height: 51px;
    border-radius: 10px 10px 10px 10px;
}

.colors2{
    color:#cc3300;
    text-shadow: 1px 1px 1px #42ff42;
    text-align: center;
    background-color: white;
    width: 580px;
    height: 93px;
}
