.controls{
    border: solid 2px blueviolet;
    width: 50%;
    margin: auto;
    background: beige;
    margin-bottom: 10px; 
}

.ball{
    border: solid 4px green;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    box-sizing: border-box;
    cursor: crosshair;
}

.square{
    border: solid 2px blueviolet;
    height: 400px;
    width: 50%;
    margin: auto;
    background: beige;
    margin-bottom: 10px; 
    position: relative;
}

.general_div{
    border: solid 2px black;
    min-height: 90px;
    width: 50%;
    margin: auto;
    background: beige;
    margin-bottom: 10px;
}

@keyframes example{
    from {background-color: red; margin-left: 0px}
    to {background-color: yellow; margin-left: 365px}
}

@keyframes example1{
    from {background-color: red; margin-left: 0px}
    to {background-color: yellow; margin-left: 182.5px}
}

.my-animation{
    width: 100px;
    height: 80px;
    padding: 5px;
    background-color: red;
    /* animation-name: example; */
    animation-duration: 4s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}