table {
    border: solid 1px black;
    height: 400px;
    border-collapse: collapse;
}

table td{
    border: solid 1px red;
    width: 700px; 
    text-align: center;
    /* td-ში რომ ჩავწერთ სიგანეს ფორმები აღარ შეეცვლება უჯრებს */
}

table td img {
    height: 100px;
    width: 100px;
}